# Pandas Dataframe als CSV speichern

In [9]:
import pandas as pd

Dataframe erstellen

In [13]:
# Dataframe namens 'df' erstellen
rohdaten = {
        'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': ["25,000", "94,000", 57, 62, 70]
}
df = pd.DataFrame(rohdaten, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])

# Dataframe anzeigen
df.head()

  first_name last_name  age  preTestScore postTestScore
0      Jason    Miller   42             4        25,000
1      Molly  Jacobson   52            24        94,000
2       Tina       Ali   36            31            57
3       Jake    Milner   24             2            62
4        Amy     Cooze   73             3            70

Dataframe als CSV-Datei abspeichern

In [14]:
# Dataframe als CSV-Datei abspeichern
speicherort = "E:\\Dokumente\\Programmierung\\Python\\Jupyter_Files\\Tutorials\\"
dateiname = "DataframeZuCSV.csv"
df.to_csv(speicherort+dateiname)