In [7]:
import time
import datetime
import pytz # "This library allows accurate and cross platform timezone calculations using Python"

heutiger Tag:

# Datum, lokale Zeitzone

In [8]:
# heutiger Tag:
heute = datetime.date.today().strftime("%d.%m.%y")

# Ausgeben:
print(heute)

11.05.18

# UTC-Datum und -Uhrzeit, deutsche Formatierung

In [9]:
# heutiger Tag:
heute = datetime.datetime.utcnow().strftime("%H:%M:%S %d.%m.%y")

# Liste aller strftime-Formate: 
# https://docs.python.org/2/library/datetime.html?highlight=datetime#strftime-strptime-behavior

# Ausgeben:
print(heute)

22:05:08 10.05.18

# Deutsche Zeitzone

In [10]:
# ISO 8601 Format
print(datetime.datetime.now(tz=pytz.utc))

2018-05-10 22:05:29.413557+00:00

In [11]:
# Berlin
berlin = pytz.timezone('Europe/Berlin')

# Ausgabe der Zeitzone:
berlin.zone

# Ausgabe der deutschen Uhrzeit:
print(datetime.datetime.now(tz=berlin))

2018-05-11 00:05:29.845581+02:00

In [17]:
fmt = "%H:%M:%S %d.%m.%y"
t_akt = berlin.localize(datetime.datetime.now())
print(t_akt.strftime(fmt))

09:52:23 11.05.18

Wochentag

In [1]:
import time
import datetime
import pytz # "This library allows accurate and cross platform timezone calculations using Python"

berlin = pytz.timezone('Europe/Berlin')
wt_akt = berlin.localize(datetime.datetime.now()).strftime("%A")

# Ausgeben
print(wt_akt)

Saturday

# Zeitpunkt festlegen / String zu datetime-Objekt

In [17]:
import time
import datetime
import pytz # "This library allows accurate and cross platform timezone calculations using Python"

berlin = pytz.timezone('Europe/Berlin')
fmt_ausgabe = "%H:%M:%S %d.%m.%y"

# Standartformatierung:
nur_datum = berlin.localize(datetime.datetime(2007,12,5))
datum_uhrzeit = berlin.localize(datetime.datetime(2007,12,5,8,30,45))

# Beliebige Formatierung
nur_datum = berlin.localize(datetime.datetime.strptime("05,12,2007","%d,%m,%Y"))
datum_uhrzeit = berlin.localize(datetime.datetime.strptime("05,12,2007,8,30,45","%d,%m,%Y,%H,%M,%S"))

# Formatierte Ausgabe
print(nur_datum.strftime(fmt_ausgabe))
print(datum_uhrzeit.strftime(fmt_ausgabe))

00:00:00 05.12.07
08:30:45 05.12.07

# Datum (ohne Uhrzeit) mit Zeitzoneninfo

In [21]:
import time
import datetime
import pytz # "This library allows accurate and cross platform timezone calculations using Python"

berlin = pytz.timezone('Europe/Berlin')
fmt = "%H:%M:%S %d.%m.%y"

# Leider bietet datetime.date.today() keine tz-info (Zeitzoneninformation)
# datetime.datetime.now() bietet zwar  eine tz-info, dafür wird aber die aktuelle Uhrzeit mitgeliefert, was ein
# Vergleichen von Daten verhindert.
d = berlin.localize(datetime.datetime.now())
# Jedoch kann man mit "datetime.datetime.replace" die Uhrzeit zuruecksetzen und somit Daten vergleichen
d = d.replace(hour=0, minute=0, second=0, microsecond=0)

# Formatierte Ausgabe
print(d.strftime(fmt))

00:00:00 27.05.18

# Uhrzeiten vergleichen

In [1]:
import time
import datetime
import pytz # "This library allows accurate and cross platform timezone calculations using Python"

berlin = pytz.timezone('Europe/Berlin')
t_akt = berlin.localize(datetime.datetime.now())

# Aktuelles Jahr als Integer-Variable
diese_jahr = 2000 + int(berlin.localize(datetime.datetime.now()).strftime("%y"))
# Aktueller Monat als Integer-Variable
dieser_monat = int(berlin.localize(datetime.datetime.now()).strftime("%m"))
# Aktueller Tag als Integer-Variable
dieser_tag = int(berlin.localize(datetime.datetime.now()).strftime("%d"))

print("Datum: ", dieser_tag, "-", dieser_monat, "-", diese_jahr)

# 8:00:00 (am heutigen Tag)
t_ctrl_min = berlin.localize(datetime.datetime(diese_jahr, dieser_monat, dieser_tag, 8, 0, 0))
# 20:00:00 (am heutigen Tag)
t_ctrl_max = berlin.localize(datetime.datetime(diese_jahr, dieser_monat, dieser_tag, 21, 0, 0))

# Variablen mit Objekttypen Ausgeben
print("Minimum: ", t_ctrl_min, "type: ", type(t_ctrl_min))
print("Aktuell: ", t_akt, "type: ", type(t_akt))
print("Maximum: ", t_ctrl_max, "type: ", type(t_ctrl_max))

# Vergleichen
if t_ctrl_min < t_akt < t_ctrl_max:
    print("innerhalb")
else:
    print("außerhalb")

Datum:  5 - 5 - 2018
Minimum:  2018-05-05 08:00:00+02:00 type:  <class 'datetime.datetime'>
Aktuell:  2018-05-05 20:05:49.453532+02:00 type:  <class 'datetime.datetime'>
Maximum:  2018-05-05 21:00:00+02:00 type:  <class 'datetime.datetime'>
innerhalb

# konvertieren zu numpys datetime64 mit formatierung (strftime)

In [45]:
import pandas as pd 
import time
import datetime
import pytz # "This library allows accurate and cross platform timezone calculations using Python"

berlin = pytz.timezone('Europe/Berlin')
fmt = "%H:%M:%S %d.%m.%y"
t_akt = berlin.localize(datetime.datetime.now())
print("Python Standardbibliothek, Zeit mit Ausgleich: "+t_akt.strftime(fmt))


t= pd.to_datetime(str(t_akt)) 
timestring = t.strftime(fmt)
print("Numpy datetime64, UTC Zeit: "+timestring)

Python Standardbibliothek, Zeit mit Ausgleich: 10:53:06 11.05.18
Numpy datetime64, UTC Zeit: 08:53:06 11.05.18

# konvertieren zu Pandas-Format

Erstellen des Dataframes mit Zeitangaben

In [67]:
# Erstellen des Dataframes mit Zeitangaben

import pandas as pd 
import time
import datetime
import pytz # "This library allows accurate and cross platform timezone calculations using Python"

# Ausgangsformat
berlin = pytz.timezone('Europe/Berlin')
fmt = "%H:%M:%S %d.%m.%y"
# Daten für DataFrame erstellen
li = []
for i in range(3):
    li.append("{}".format(berlin.localize(datetime.datetime.now()).strftime(fmt)))
    time.sleep(1.5)
    
raw_data = {'Zeit': li,
        'Score': [25, 94, 57]}

# Dataframe erstellen
df = pd.DataFrame(raw_data, columns = ['Zeit', 'Score'])

# Ausgabe des Dataframes
df

                Zeit  Score
0  11:02:26 11.05.18     25
1  11:02:28 11.05.18     94
2  11:02:29 11.05.18     57

Ausgabe der Objekttypen des DataFrames

In [68]:
# Ausgabe der Objekttypen des DataFrames
df.dtypes

Zeit     object
Score     int64
dtype: object

Spalte (column) Zeit in Pandas-Datetime konvertieren

In [69]:
#Spalte (column) Zeit in Pandas-Datetime konvertieren (überschreiben)

df['Zeit'] = pd.to_datetime(df['Zeit'], format=fmt)

# Ausgabe der Objekttypen des DataFrames
df.dtypes

Zeit     datetime64[ns]
Score             int64
dtype: object

Zeit zu DatetimeIndex konvertieren

In [70]:
# Zeit zu DatetimeIndex konvertieren
df.set_index('Zeit', inplace=True)

# Ausgabe des Dataframes
df

                     Score
Zeit
2018-05-11 11:02:26     25
2018-05-11 11:02:28     94
2018-05-11 11:02:29     57

In [71]:
# Lokalisierungsinformationen angeben (Verschiebung zur UTC-Zeit)
df.index = df.index.tz_localize(berlin)

# Ausgabe des Dataframes
df

                           Score
Zeit
2018-05-11 11:02:26+02:00     25
2018-05-11 11:02:28+02:00     94
2018-05-11 11:02:29+02:00     57

# Mit Daten rechnen

In [4]:
from datetime import datetime, timedelta
import pytz # "This library allows accurate and cross platform timezone calculations using Python"

fmt = "%H:%M:%S"

#d = datetime.today() - timedelta(hours=1, minutes=50, seconds = 30)
d = pytz.timezone('Europe/Berlin').localize(datetime.now()) - timedelta(hours=1, minutes=50, seconds = 30)

print(d.strftime(fmt))

11:53:59

# Daten iterieren

In [3]:
from datetime import timedelta, date, datetime

fmt = "%d_%m_%y"

def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)
        
start_id = "14_08_95"
ende_id = "28_8_95"

start_date = datetime.strptime(start_id, fmt)
end_date = datetime.strptime(ende_id, fmt)
for single_date in daterange(start_date, end_date):
    print(single_date.strftime(fmt))

14_08_95
15_08_95
16_08_95
17_08_95
18_08_95
19_08_95
20_08_95
21_08_95
22_08_95
23_08_95
24_08_95
25_08_95
26_08_95
27_08_95